// _color.scss
$primary_text: #56a79a;
$secondary_text: #cccccc;

$color_body_bg: #d3d3d3;

$color_nav_bg: #24252a;
$color_nav_font: #edf0f1;
$color_nav_font_hover: #0088a9;
$color_nav_font_current: #f28123;

$color_showcase_bg: #333333;
$color_showcase_font: #ffffff;

$color_features_font: #444444;

$color_info_bg: #333333;
$color_info_font: #ffffff;

$color_span_font: $primary_text;
$color_db_border: $primary_text;

$color_list_font: #fdf5e6;

$color_contact_bg: #6C6F7D;

$color_parts_bg: #9a9a9a;

$color_card_bg: #CFD4C5;
$color_card_header: $primary_text;