@import 'reset';
@import 'color';
@import 'index';
@import 'parts';

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');


article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 17px;
    background-color: $color_body_bg;
}

.container {
    margin: auto;
}


/* NAVIGATION */
nav {
    
    .current {
	li, a {
	    color: $color_nav_font_current;
	    border-bottom: solid 4px $color_nav_font_current;
	}
    }
    
    li, a {
        color: $color_nav_font;
	font-size: 1.2rem;
	list-style: none;
	text-decoration: none;
    }
    
    .nav-links {
	list-style: none;
	
	li {
	    display: inline-block;
	    margin-right: 2rem;
	    padding: 0px 0px;
	    /*border-bottom: solid 4px $color_nav_font;*/
	}
	
	li:last-child {
	    margin-right: 0rem;
	}

	
	li a {
	    transition: all 0.2s ease 0s;
	}
	
	li a:hover {
	    padding: 0px 0px;
	    background-color: lighten($color_nav_bg, 10%);
	}
    }
}

header {
    background-color: $color_nav_bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    
    a {
	text-decoration: none;
    }
    
    h1 {
        color: $color_nav_font;
	letter-spacing: 1px;
	font-size: 2.2rem;
	cursor: pointer;
	
	.primary-text {
	    color: $color_span_font;
	}
    }
}

/* CONTACT */
footer {
    background-color: $color_contact_bg;
}


.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2rem 0;

    .contact-list {
	list-style: none;
    }
}


/* DB-ITEMS */
.db-item-list {
    border-bottom: 1px solid $color_db_border;
    letter-spacing: 2px;
    line-height: 1.5;

    ul {
	max-width: 60%;
	margin: 0 auto 5rem auto;
	list-style: none;
	padding-top: 3.5rem;
    }
    
    li {
	line-height: 2em;
	font-size: 20px;
	margin-bottom: 1rem;
    }
    
    hr {
	border: none;
	height: 1px;
	color: #333; /* old IE */
	background-color: #333; /* Modern Browsers */
    }
}


/* MEDIA QUERIES */
@media screen and (max-width: 980px) {
    header h1 {
	font-size: 2.0rem;
    }
    
    nav {
	li, a {
	    font-size: 1.0rem;
	}
	
	.nav-links li {
	    margin-right: 1.0rem;
	}
    }
}

@media screen and (max-width: 860px) {
    header {
	display: block;
	
	h1, ul {
	    margin: 10px auto 5px auto;
	    text-align: center;
	}
    }
}

@media screen and (max-width: 725px) {
    footer {
	display: block;
	text-align: center;
    }
    
    .contact {
        display: inline-block;
	text-align: left;
    }
    
    .contact-item {
	margin-bottom: 1rem;
    }
    
    .contact-item:last-child {
	margin-bottom: 0;
    }

}

@media screen and (max-width: 500px) {
    header h1 {
	font-size: 1.8rem;
    }
    
    nav {
	li, a {
	    font-size: 0.8rem;
	}
	
	.nav-links li {
	    margin-right: 0.7rem;
	}
    }
}

